NEXT_PUBLIC_APP_NAME=RePlate
NEXT_PUBLIC_SUPABASE_URL=https://hyhriuaxxwizapmdybat.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=REPLACE_WITH_YOUR_SUPABASE_ANON_KEY
DATABASE_URL=postgresql://postgres:Himanshu%4030@db.hyhriuaxxwizapmdybat.supabase.co:5432/postgres
